@import '../variables';

.header_container {
  align-items: center;
  background-color: $vivid;
  box-shadow: 0 4px 5px 0 rgba($sleeping-panther, 0.14),
    0 1px 10px 0 rgba($sleeping-panther, 0.12),
    0 2px 4px -1px rgba($sleeping-panther, 0.4);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 7rem;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  &__subtitle {
    color: $snow;
    font-size: 1.25rem;
    letter-spacing: 0.0125em;
    line-height: 2rem;
    font-weight: 500;
    margin: 0 0 0.5rem 3.5rem;
  }

  &__icon {
    font-size: 1.25rem;
    letter-spacing: 0.0125em;
    line-height: 2rem;
    font-weight: 500;
    margin-right: 0.5rem;
  }
}

.header {
  align-items: center;
  background-color: $charcoal;
  box-shadow: 0 4px 5px 0 rgba($sleeping-panther, 0.14),
    0 1px 10px 0 rgba($sleeping-panther, 0.12),
    0 2px 4px -1px rgba($sleeping-panther, 0.4);
  display: flex;
  height: 3.5rem;
  position: fixed;
  top: 0;
  width: 100%;

  &__title {
    color: $snow;
    font-size: 1.25rem;
    letter-spacing: 0.0125em;
    line-height: 2rem;
    font-weight: 500;
    margin: 0 1rem;
  }
}

.mybutton {
  margin: 5rem;
}

.logo {
  height: 3.125rem;
  margin-left: 1rem;
  position: relative;
  width: 3.125rem;

  &__color {
    fill: $vivid;
  }

  &__color,
  &__effects {
    left: 0;
    position: absolute;
    top: 0;
  }
}
